/* --------------- Font --------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #311C4A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

#logo {
    max-width: 55vw;
    max-height: 25vh;
    clip-path: inset(0 0 1px);
}

main {
    background-color: white;
    max-width: 824px;
    width: 75vw;
    border-radius: 16px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.participante .image {
    position: relative;
}

.participante {
    outline: 2px solid white;
    width: 200px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}

.participante:hover {
    outline: 2px solid #9e54e4;
    transition: all .5s ease;
}

.selected {
    transition: .1s ease;
    box-shadow: 0 0 3px 4px #9e54e4;
}

.nome {
    font-weight: bold;
}

#select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9e54e4;
    font-size: 100px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    animation: zoomOut .2s;
}

.select {
    display: block;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;
}

.inputData {
    /* display: none; */
}

fieldset {
    width: 100%;
    border: none;
    margin: 12px 12px 32px;
}

legend {
    margin-bottom: 22px;
}

#name {
    display: flex;
    gap: 24px;

}

label {
    color: #0000008c;
}

.emphasis {
    font-size: large !important; 
    font-weight: bold !important;
    color: black !important;
}

input {
    width: 100%;
    padding: 10px 16px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: none;
}

input:focus {   
    box-shadow: 0 0 3px 2px #9e54e4;
    transition: .3s ease;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #9e54e4;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 14px;
    border-radius: 6px;
    width: fit-content;
    font-size: large;
    margin: 16px;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.1), inset 3px 3px 5px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.1);
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.2), inset 3px 3px 5px rgba(255, 255, 255, 0.3), 2px 5px 15px rgba(0, 0, 0, 0.3);
    transition: .3s ease;
}

button:not(:hover) {
    transition: .3s ease;
}

footer {
    display: flex;
    justify-content: center;
}

#footer-logo {
    max-width: 50vw;
    max-height: 22vh;
}

/* Animations */
@keyframes zoomOut {
    from {
        font-size: 0;
    }
    to {
        font-size: 100px;
    }
}

@media screen and (max-width: 900px) {
    #name {
        flex-direction: column;
    }
}